POCKETBASE_URL=http://127.0.0.1:8090
LIVEKIT_URL=ws://127.0.0.1:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=devsecretdevsecretdevsecretdevsecret
APNS_ENV=sandbox #or production
APNS_TEAM_ID=YOUR_APPLE_TEAM_ID
APNS_KEY_ID=YOUR_APNS_KEY_ID
APNS_BUNDLE_ID=app.infchat
APNS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_APNS_P8_KEY\n-----END PRIVATE KEY-----"
APNS_PRIVATE_KEY_BASE64=
